/* Quay icon style */
/* the icon is optional. Include on pages using <a id="quayButton"></a> (IE needs an explicit end tag). */
a#quayButton {
	width:19px;
	height:18px;
}
a#quayButton img {
	border:none;
}

/* Quay box styles */
div#quay {
	z-index:32766;
	position:absolute;
	top:200px;
	left:200px;
	display:none;
	
	width: 300px;
/*	border: 1px solid #7f9db9;*/
	border-left: 1px solid #c6c7c6;
	border-bottom: 1px solid #c6c7c6;
	border-right: 1px solid #c6c7c6;
}

input#txtQuaySearch {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #66667e;
	text-decoration: none;
	border: 1px solid #66667e;
	width: 100%;
}
div#quay_mainarea {
	background-color: #e0dfe3;
	padding: 10px;
}
div#quay_header {
	background-image: url(../images/top_bar_center_part.gif);
	background-repeat: repeat-x;
	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	height: 26px;
}

a#quayHeaderLogo {
	background-image: url(../images/quay_header_logo.png);
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	top: 2px;
	left: 5px;
	height: 21px;
	width: 277px;
}

/* The X in the quay header */
a#quayCloseIcon {
	position: absolute;
	top: 2px;
	right: 1px;
	width: 21px;
	height: 21px;
	background-image: url(../images/close_corner_button_normal.gif);
	background-position: center;
	background-repeat: no-repeat;
}
a#quayCloseIcon:hover {
	background-image: url(../images/close_corner_button_over.gif);
}
a#quayCloseIcon img {
	border: none;
}

/* AutoSuggest styles */
div#autosuggest {
	z-index: 32767;
	display: none;
}

.suggestion_list
{
background: white;
border: 1px solid;
padding: 4px;
}

.suggestion_list ul
{
padding: 0;
margin: 0;
list-style-type: none;
}

.suggestion_list a
{
text-decoration: none;
color: navy;
}

.suggestion_list .selected
{
background: navy;
color: white;
}

.suggestion_list .selected a
{
color: white;
}
