# Apache directives for the repos host
# Not all servers read .htaccess files,
# the directives can also be placed in server conf files

ErrorDocument 400 /repos/errors/400/
ErrorDocument 401 /repos/errors/401/
ErrorDocument 403 /repos/errors/403/
ErrorDocument 404 /repos/errors/404/
ErrorDocument 500 /repos/errors/500/
