<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>automated test</title>
</head>
<body>
<p class="description"></p>
<table>
<thead>
<tr><td colspan="3"></td></tr>
</thead><tbody>
<tr>
	<td>open</td>
	<td>setup/?public</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>open:images_</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>view:a.jpg</td>
	<td></td>
</tr>
<tr title="wait for thumbnail to be genereated dynamically">
	<td>pause</td>
	<td>5000</td>
	<td></td>
</tr>
<tr>
	<td>verifyElementPresent</td>
	<td>xpath=//img[@alt='Creating thumbnail...']</td>
	<td></td>
</tr>
<!-- TODO test all the supported formats -->
</tbody></table>
</body>
</html>