/* repository visualization, minimal number of classes */
body {
    font-family: Verdana, Geneva, Arial, helvetica, sans-serif;
    font-size: 0.8em;
}
td {
	font-family: Verdana, Geneva, Arial, helvetica, sans-serif;
	font-size: 0.8em;
}
th {
	font-family: Verdana, Geneva, Arial, helvetica, sans-serif;
	font-size: 0.8em;
}
code {
	font-size: 1.1em;
}
a {
	color: #000066;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
h1 {
	font-weight: normal;
}
h2 {
	font-weight: normal;
}
h3 {
	font-weight: normal;
	margin-bottom: 3px;
}
pre {
	font-size: 1.2em;
}
/* allow transparency in .png in explorer */
img { 
	behavior: url("/themes/simple/css/pngbehavior.htc");
}
/* page layout themes */
.info {
	border: 2px solid #CCCC99;
	border-collapse: collapse;
	padding: 16px;
}
th.info {
	font-weight: normal;
	letter-spacing: 0.2em;
	border: 2px solid #CCCC99;
}
/* repository view page (like index and log) layout */
.titlebar {
	padding: 3px;
	padding-left: 10px;
	background-color: #FFFFCC;
	font-size: 1.0em;
}
.commandbar {
	padding: 3px;
	padding-left: 10px;
	background-color: #F0F0EE;
	border: 1px solid #CCCC99;
}
.workarea {
	padding: 10px;
}
.workarea p {
	margin: 1px;
}
.listhead {
	background-color:#555555; 
	border: 1px solid #FFFFFF;
	padding-left:3px; 
	padding-right:5px; 
	white-space:nowrap;
}
.footer {
	font-size: 0.7em;
	padding: 3px;
	padding-left: 10px;
	border: 1px solid #CCCC99;
	clear: both;
	background-color: #FFFFCC;
}
/* layout of version contron concepts */
.path {

}
.filename {

}
.revision {
	color: #006600;
}
.username {

}
.datetime {
	color: #666666;
}
.error {
	color: #CC3300;
}
/* commands = toolbarbuttons, <a> is  active, <span> is greyed out */
a.command {
	background-color: #F0F0EE;
	padding: 0px 3px;
	font-size: smaller;
	/* border-top: 1px solid #DDDDDD;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #DDDDDD;
	border-left: 1px solid #CCCCCC; */
	margin-left: 2px;
	margin-right: 2px;
	margin-top: 0px;
	margin-bottom: 0px;
}
span.command {
	background-color: #F0F0EE;
	color: #BBBBBB;
	padding: 0px 3px;
	font-size: smaller;
	/* border-top: 1px solid #DDDDDD;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #DDDDDD;
	border-left: 1px solid #CCCCCC; */
	margin-left: 2px;
	margin-right: 2px;
}
/* action is for buttons inside listings, <a> is  active, <span> is greyed out */
a.action {
	background-color: #F0F0EE;
	padding: 0px 3px;
	font-size: smaller;
	border-top: 1px solid #DDDDDD;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #DDDDDD;
	border-left: 1px solid #CCCCCC;
	margin-left: 2px;
	margin-right: 2px;
	margin-top: 0px;
	margin-bottom: 0px;
}
span.action {
	display: none;
	background-color: #F0F0EE;
	color: #BBBBBB;
	padding: 0px 3px;
	font-size: smaller;
	border-top: 1px solid #DDDDDD;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #DDDDDD;
	border-left: 1px solid #CCCCCC;
	margin-left: 2px;
	margin-right: 2px;
}