#return {
	background-image: url(../parent.gif);
}
.logentry > div {
	padding-top: 1px;
	padding-bottom: 1px;
}
.message {
	background-image: url(message.gif);
	padding-left: 22px;
	background-position: left top;
	background-repeat: no-repeat;
}
#contents .row {
	width: 100%;
	padding: 2px;
	padding-left: 22px;
	background-position: left center;
	background-repeat: no-repeat;
}
#contents .row div.actions {
	display: inline;
	position: absolute;
	left: 70%;
}
.log-A {
	background-image: url(a.gif);
}
.log-M {
	background-image: url(m.gif);
}
.log-D {
	background-image: url(d.gif);
}
.copied {
	padding-left: 20px;
	background-position: left;
	background-repeat: no-repeat;	
	background-image: url(copiedfrom.gif);
}