
// Customize title, alternative to changing in html templates and xsl files
document.title = document.title.replace('repos:', 'Simonsoft CMS |');

// Dynamically replace logo src, alternative to rewrite rules
Repos.service('home/', function() {
	$('#intro h1').empty()
		// tartpage logo
		.append('<img alt="Simonsoft logo" width="567" height="46" border="0" align="bottom" src="/repos-plugins/branding/logo-big.png"/>')
		// Startpage header text
		.append('&nbsp;&nbsp;CMS&nbsp;beta')
		// Startpage header style
		.css({fontSize:'42px',fontWeight:'bold',letterSpacing:'.1em',color:'#aaa'});
});

Repos.service('index/', function() { // Browser commandbar logo
	$('#commandbar #logo').attr('width','134').attr('src', '/repos-plugins/branding/logo-name.png');
});

Repos.service('open/log/', function() { // Log commandbar logo
	$('#commandbar #logo').attr('width','134').attr('src', '/repos-plugins/branding/logo-name.png');
});

