@charset "utf-8";
/* repos.se documentation styles, only needed in the default theme */
a[target="_blank"] {
	padding-right: 16px;
	background: url(newwindow.png) right center no-repeat;
}
table {
	border-collapse: collapse;
}
table th {
	color: #666633;
	margin: 0px;
	padding: 8px;
	padding-right: 16px;
}
table td {
	margin: 0px;
	padding: 8px;
}
table.columns td {
	border-left: 1px solid #CCCC99;
	border-right: 1px solid #CCCC99;
	font-size: 82.5%;
}
table.columns td > p {
	font-size: inherit;
}
table.rows td {
	border-top: 1px solid #CCCC99;	
	border-bottom: 1px solid #CCCC99;	
}
/* tests */
.testsummary {
	border: 1px solid #CCCC99;
}
.testname {
	width: 35%;
}