@charset "utf-8";
/* repos.se documentation styles, only needed in the default theme */
/* documentation specific styles */
a[target="_blank"] {
	padding-right: 16px;
	background: url(newwindow.png) right center no-repeat;
}
table {
	border-collapse: collapse;
}
table th {
	color: #666633;
	margin: 0px;
	padding: 8px;
	padding-right: 16px;
}
table td {
	margin: 0px;
	padding: 8px;
}
table.columns td {
	border-left: 1px solid #CCCC99;
	border-right: 1px solid #CCCC99;
	font-size: 82.5%;
}
table.columns td > p {
	font-size: inherit;
}
table.rows td {
	border-top: 1px solid #CCCC99;	
	border-bottom: 1px solid #CCCC99;	
}
/* tests */
.passed {
	background-color: #ddffbb;
}
.failed {
	background-color: #ffddbb;	
}
.testsummary {
	padding: 0.4em;
	margin-top: 0.4em;
}
div.test {
	min-height: 1.4em;
}
div.test div,acronym,span {
	display: inline;
	padding: 1px;
}
div.test > .testname {
}
div.test > div.testresult {
	position: absolute;
	left: 80%;
	width: 12%;
	text-align: center;
}
div.test > div.testoutput {
	position: absolute;
	left: 35%;
	font-family: monospace;	
}
div.test > div.testoutput > acronym {
	padding-left: 0.4em;
	padding-right: 0.4em;	
}
/* using tooltip instead
div.test > div.testoutput > pre {
	margin-top: -0.2em;
	width: 1.4em;
	height: 1.4em;
	overflow: hidden;
	background-color: white;
}
div.test > div.testoutput > pre:hover {
	width: auto;
	height: auto;
}
*/
/* customized title display */
#tooltip {
	position: absolute;
	z-index: 3000;
	border: 1px solid #111;
	background-color: #eee;
	padding: 5px;
	opacity: 0.85;
}
