/* repository visualization, shared classes */
/* make sure that different browser text size settings work */
body, td, th {
    font-family: Verdana, Geneva, Arial, helvetica, sans-serif;
    font-size: 0.8em;
}
code {
	font-size: 1.1em;
}
a {
	color: #000066;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
h1 {
	font-weight: normal;
	font-size: 1.8em;
}
h2 {
	font-weight: normal;
	font-size: 1.4em;
}
h3 {
	font-weight: normal;
	margin-bottom: 3px;
	font-size: 1.1em;
}
pre {
	font-size: 1.2em;
}
/* layout of version control concepts, these are usually span tags */
.path {
	color: #112200;
}
.filename { /* deprected, use 'path'. 'filename' is for forms etc. 'file' is for layout with icon */
	color: #112200;
}
.revision {
	color: #006600;
	font-size-adjust: 0.4;
	font-family: Arial, Helvetica, sans-serif;
}
.username {
	color: #663300;
}
.projectname {
	color: #663300;
}
.message {
	font-style: italic;
}
.datetime {
	color: #666666;
}
.error {
	color: #CC3300;
}
/* common page elements, may also be layouted for each tool */
.frame { /* this is not really a contextual name, maybe deprecated */
	border: 2px solid #CCCC99;
	border-collapse: collapse;
	padding: 16px;
}
.workspace {
}
.commandbar {
	background-color: #F0F0EE;
	border-top: 1px solid #CCCC99;
	height: 1.5em;
}
.contents {
	/* overflow: -moz-scrollbars-vertical; */
}
.contents .row {
}
.footer {
	bottom: 10px;
	height: 20px;
}
/* command = commandbar button, <a> is  active, <span> is greyed out */
.command {
	background-color: #F0F0EE;
	font-size: smaller;
	padding: 3px;
	margin-left: 15px;
	margin-top: 5px;
	margin-bottom: 5px;
	background-position: left;
	background-repeat: no-repeat;
}
a.command {
	color: #333333;
}
a.command:hover {
	background-color: #CCCC99;
	text-decoration: none;
}
span.command {
	color: #BBBBBB;
}
/* action is for buttons inside listings, <a> is  active, <span> is greyed out */
.action {
	background-color: #F0F0EE;
	font-size: smaller;
	border: 1px solid #F7F7F6;
	padding: 1px;
	margin: 1px;
}
a.action {
	color: #333333;
}
a.action:hover {
	background-color: #CCCC99;
	text-decoration: none;
}
span.action {
	color: #BBBBBB;
	display: none;
}
/* -------- forms ---------
<form>
<fieldset>
  <legend>Upload to repos.se</legend>
  <p>
    <label for="name">file name</label>
    <input id="name" type="text" name="name" />
  </p>
  <p>
    <label for="submit"></label>
    <input id="submit" type="submit" value="Submit" />
  </p>
</fieldset>
</form>

*/
fieldset {
	border:2px solid #CCCC99;
	border-collapse:collapse;
	padding:2em;
}
legend {
	background-color:#CCCC99;
	letter-spacing:0.2em;
	font-size:0.7em;
	padding-left: 1em;
	padding-right: 1em;
	color:#FFFFFF;
}
label {
	float:left;
	width:25%;
	margin-right:0.5em;
	padding-top:0.2em;
	text-align:right;
	font-weight:normal;
}
