/* repos.se common styles */
html {
	/* Fix IE background image flicker */
	filter: expression(document.execCommand("BackgroundImageCache", false, true));
}
body {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 82.5%;
	min-width: 980px;
	margin-top: 0px;
}
/* resume with em font sizes relative to the above */
a {
	color: #003399;
	text-decoration: none;
}
table p {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
a:hover {
	text-decoration: underline;
}
h1 {
	font-weight: normal;
	font-size: 1.8em;
}
h2 {
	font-weight: normal;
	font-size: 1.4em;
}
h3 {
	font-weight: normal;
	margin-bottom: 3px;
	font-size: 1.1em;
	letter-spacing: 0.1em;
}
pre {
	font-size: 1.2em;
	border-top: 1px dashed #CCCC99;
	border-bottom: 1px dashed #CCCC99;
}
code {
	font-size: 1.1em;
}
/* <abbr> not supported by IE6 */
acronym, span.explain {
	cursor: help;
	border-bottom: 1px dotted #000066;
}
/* layout of version control concepts, these are usually span tags */
.path {
	color: #113300;
}
.revision {
	color: #006600;
	padding: 1px;
	border: 1px dotted #cccc99;
	font-size-adjust: 0.4;
	font-family: Arial, Helvetica, sans-serif;
}
.username {
	color: #663300;
	padding-left: 16px;
	background: url(user.gif) left no-repeat;
}
.projectname {
	color: #663300;
}
.message {
	font-style: italic;
}
.datetime {
	color: #666666;
}
.error {
	color: #CC3300;
}
.filesize {
		
}
.lock {
	padding-left: 16px;
	background: url(lock.png) left no-repeat;
}
.warning {
	width: 80%;
	border: 1px dotted #cc9999;
	padding-left: 40px;
	background: url(warning.png) left no-repeat;
}
/* common page elements, may also be layouted for each tool */
#commandbar {
	background-color: #ECF1EF;
	padding: 5px;
	border-bottom: 1px solid #CCCCCC;
}
#contents {
	/* overflow: -moz-scrollbars-vertical; */
}
#contents .row {
	width: 100%;
	padding: 1px;
	border-bottom: 1px solid #FFFFFF;
}
#contents .row:hover {
	border-bottom: 1px dashed #CCCC99;
}
#contents .row div.actions {
	display: inline;
	position: absolute;
	left: 45%;
}
.n0, .n1, .n2, .n3 {
	background: url(rowbackground.png) top repeat-x;
}
#footer {
	width: 100%;
	bottom: 10px;
	height: 20px;
	float: left;
	border-top: 1px solid #CCCCCC;
	background-color: #F4F4F4;
	color: #999999;
	font-size: smaller;
}
#footer .legal {
	position: absolute;
	right: 10px;
	text-align: right;
}
#footer .legal a {
	color: #556699;
}
#footer #url {
	width: 98%;
	text-align: center;
	border: 0px;
	color: #999999;
	font-size: smaller;	
	background: none;
}
/* command = commandbar button, <a> is  active, <span> is greyed out */
.command {
	background-position: left center;
	background-repeat: no-repeat;
	font-size: 82.5%;
	margin-left: 0.4em;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 30px;
	padding-right: 0.4em;
	padding-top: 0.6em;
	padding-bottom: 0.6em;
	line-height: 2.3em;
}
a.command {
	color: #333333;
	border-right: 2px dotted #D5E0E0;
}
span.command {
	color: #BBBBBB;
}
/* action is for buttons inside listings, <a> is  active, <span> is greyed out */
a.action {
	color: #333333;
	background-color: #F0F0EE;
	font-size: 82.5%;
	margin: 0.2em;
	padding-left: 0.2em;
	padding-right: 0.2em;
	border-top: 1px solid #E7E7E6;
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #E7E7E6;
	border-left: 1px solid #DDDDDD;
}
span.action {
	display: none;
}
/* common commands */
#commandbar #back {
	background-image: url('commands/16x16/back.png');
}
#commandbar #repository {
	background-image: url('commands/16x16/repository.png');
}
#commandbar #history {
	background-image: url('commands/16x16/history.png');
}
#commandbar #download {
	background-image: url('commands/16x16/download.png');
}
#commandbar #refresh {
	background-image: url('commands/16x16/refresh.png');
}
#commandbar #logout {
	background-image: url('commands/16x16/logout.png');
}
/* common activities, same id as commands */
#activities h3 a {
	padding: 10px 0px 10px 40px;
	background-position: left;
	background-repeat: no-repeat;
}
#activities #open {
	background-image: url(commands/32x32/open.png);
}
#activities #download {
	background-image: url(commands/32x32/download.png);
}
#activities #download_upload {
	background-image: url(commands/32x32/download_upload.png);
}
#activities #download_lock {
	background-image: url(commands/32x32/download_lock.png);
}
#activities #edit {
	background-image: url(commands/32x32/edit.png);
}
#activities #upload {
	background-image: url(commands/32x32/upload.png);
}
#activities #lock {
	background-image: url(commands/32x32/lock.png);
}
#activities #useurl {
	background-image: url(commands/32x32/url.png);
}
#activities #history {
	background-image: url(commands/32x32/history.png);
}
#activities #view {
	background-image: url(commands/32x32/view.png);
}
/* -------- forms ---------
<form>
<fieldset>
  <legend>template form</legend>
  <p>
    <label for="name">file name</label>
    <input id="name" type="text" name="name" />
  </p>
  <p>
    <label for="submit"></label>
    <input id="submit" type="submit" name="submit" value="Send" />
  </p>
</fieldset>
</form>
*/
fieldset {
	border:2px solid #CCCC99;
	border-collapse:collapse;
	padding:2em;
}
legend {
	background-color:#CCCC99;
	letter-spacing:0.2em;
	font-size:0.7em;
	padding-left: 1em;
	padding-right: 1em;
	color:#FFFFFF;
}
label {
	float:left;
	width:25%;
	margin-right:0.5em;
	padding-top:0.2em;
	text-align:right;
	font-weight:normal;
}
input.required {
	background: url(required.png) top right no-repeat;	
}
/* visible version numbers, #releaseversion or #resourceversion */
.versiondisplay {
	font-size:9px;
	color:#cccccc;
}
div.versiondisplay {
	position:absolute;
	bottom:1px;
	right:1px;
}

/* --- boxed page layout, for example view and edit --- */
div.section {
	height: auto;
	margin: 5px;
	padding: 5px;
	background-color: #FFFFFF;
	border-top: 15px solid #E9F4C9;
	border-left: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	display: block;	
}

/* maybe we need something more generic for left and right column */

div#intro {
	width: 50%;
	float: left;
}

div#activities {
	width: 50%;
	float: left;
}

div#activities p {
	padding-left: 40px;
}

div#filedetails {
	width: 40%;
	float: right;
}

div#filehistory {
	width: 40%;
	float: right;
}
