/* repository visualization, minimal number of classes */
body {
    font-family: Verdana, Geneva, Arial, helvetica, sans-serif;
    font-size: 0.8em;
}
td {
	font-family: Verdana, Geneva, Arial, helvetica, sans-serif;
	font-size: 0.8em;
}
th {
	font-family: Verdana, Geneva, Arial, helvetica, sans-serif;
	font-size: 0.8em;
}
code {
	font-size: 1.1em;
}
a {
	color: #000066;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
h1 {
	font-weight: normal;
}
h2 {
	font-weight: normal;
}
h3 {
	font-weight: normal;
	margin-bottom: 3px;
}
pre {
	font-size: 1.2em;
}
/* page layout themes */
.frame {
	border: 2px solid #CCCC99;
	border-collapse: collapse;
	padding: 16px;
}
th.frame { /* only used in startpage, move there */
	font-weight: normal;
	letter-spacing: 0.2em;
	border: 2px solid #CCCC99;
}
/* repository view page (like index and log) layout */
.titlebar { /* deprecated */
	padding: 3px;
	padding-left: 10px;
	background-color: #FFFFCC;
	font-size: 1.0em;
}
.commandbar {
	padding: 3px;
	padding-left: 10px;
	background-color: #F0F0EE;
	border-top: 1px solid #CCCC99;
}
/* layout of version control concepts, these are usually span tags */
.path {
	color: #112200;
}
.filename { /* deprected, use 'path'. 'filename' is for forms etc. 'file' is for layout with icon */
	color: #112200;
}
.revision {
	color: #006600;
}
.username {
	color: #663300;
}
.message {
	font-style: italic;
}
.datetime {
	color: #666666;
}
.error {
	color: #CC3300;
}
/* command = commandbar button, <a> is  active, <span> is greyed out */
a.command {
	background-color: #F0F0EE;
	padding: 0px 3px;
	font-size: smaller;
	margin-left: 2px;
	margin-right: 2px;
	margin-top: 0px;
	margin-bottom: 0px;
}
span.command {
	background-color: #F0F0EE;
	color: #BBBBBB;
	padding: 0px 3px;
	font-size: smaller;
	margin-left: 2px;
	margin-right: 2px;
}
/* action is for buttons inside listings, <a> is  active, <span> is greyed out */
a.action {
	background-color: #F0F0EE;
	padding: 0px 3px;
	font-size: smaller;
	border-top: 1px solid #F6F6F6;
	border-left: 1px solid #F6F6F6;
	border-bottom: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	margin-left: 2px;
	margin-right: 2px;
	margin-top: 0px;
	margin-bottom: 0px;
}
span.action {
	display: none;
	background-color: #F0F0EE;
	color: #BBBBBB;
	padding: 0px 3px;
	font-size: smaller;
	border-top: 1px solid #F6F6F6;
	border-left: 1px solid #F6F6F6;
	border-bottom: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	margin-left: 2px;
	margin-right: 2px;
}
/* -------- forms ---------
<form>
<fieldset>
  <legend>Upload to repos.se</legend>
  <p>
    <label for="name">file name</label>
    <input id="name" type="text" name="name" />
  </p>
  <p>
    <label for="submit"></label>
    <input id="submit" type="submit" value="Submit" />
  </p>
</fieldset>
</form>

*/
fieldset {
	border:2px solid #CCCC99;
	border-collapse:collapse;
	padding:2em;
}
legend {
	background-color:#CCCC99;
	letter-spacing:0.2em;
	font-size:0.7em;
	padding-left: 1em;
	padding-right: 1em;
	color:#FFFFFF;
}
label {
	float:left;
	width:25%;
	margin-right:0.5em;
	padding-top:0.2em;
	text-align:right;
	font-weight:normal;
}
