@CHARSET "UTF-8";
/* CSS for Repos pages with forms or columns or both */
div#intro {
	margin: 5px;
	padding: 5px;
}

div.column {
	display: inline;
	float: left;
}

div.section {
	height: auto;
	margin: 5px;
	padding: 5px;
	background-color: #FFFFFF;
	border: 2px solid #F4F4F4;
	display: block;	
}

div.section h2 {
	margin: 0px;
	padding-left: 1em;
	background-color: #E9F4C9;
	color: #666633;
}

div p {
	color: #333333;
}

/* thumbnail plugin, see THUMB_SIZE in open/thumb/ */
#intro img.thumbnail {
	display: inline;
	float: left;
	margin-right: 1em;
}

/* input box in footer with the full url */
#footer #url {
	width: 98%;
	text-align: center;
	border: 0px;
	color: #999999;
	font-size: smaller;	
	background: none;
}
/* common activities, same id as commands */
div#activities p {
	padding-left: 40px;
}
#activities h3 a {
	padding: 10px 0px 10px 40px;
	background-position: left;
	background-repeat: no-repeat;
}
#activities #open {
	background-image: url(commands/32x32/open.png);
}
#activities #download {
	background-image: url(commands/32x32/download.png);
}
#activities #download_upload {
	background-image: url(commands/32x32/download_upload.png);
}
#activities #download_lock {
	background-image: url(commands/32x32/download_lock.png);
}
#activities #editfile {
	background-image: url(commands/32x32/edit.png);
}
#activities #upload {
	background-image: url(commands/32x32/upload.png);
}
#activities #lock {
	background-image: url(commands/32x32/lock.png);
}
#activities #unlock {
	background-image: url(commands/32x32/unlock.png);
}
#activities #useurl {
	background-image: url(commands/32x32/url.png);
}
#activities #history {
	background-image: url(commands/32x32/history.png);
}
#activities #viewfile {
	background-image: url(commands/32x32/view.png);
}
/* -------- forms ---------
<form>
<fieldset>
  <legend>template form</legend>
  <p>
    <label for="name">file name</label>
    <input id="name" type="text" name="name" />
  </p>
  <p>
    <label for="submit"></label>
    <input id="submit" type="submit" name="submit" value="Send" />
  </p>
</fieldset>
</form>
*/
fieldset {
	border:2px solid #CCCC99;
	border-collapse:collapse;
	padding: 1em;
	margin: 1em;
}
legend {
	background-color:#CCCC99;
	letter-spacing:0.2em;
	font-size:0.7em;
	padding-left: 1em;
	padding-right: 1em;
	color:#FFFFFF;
}
label {
	float:left;
	width:25%;
	margin-right:0.5em;
	padding-top:0.2em;
	text-align:right;
	font-weight:normal;
}
input.required {
	background: url(required.png) top right no-repeat;	
}
