/* repos.se common styles for Project Engine integration */
html {
	/* Fix IE background image flicker */
	filter: expression(document.execCommand("BackgroundImageCache", false, true));
}
body {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 82.5%;
}
/* resume with em font sizes relative to the above */
a {
	color: #000000;
	text-decoration: none;
}
p > a {
	border-bottom: 1px dotted #000066;
}
a:hover {
	color: #D81414;
}
h1 {
	color: #D89210;
	font-weight: normal;
	font-size: 1.8em;
}
h2 {
	color: #D37C0B;
	font-weight: normal;
	font-size: 1.4em;
}
h3 {
	color: #D37C0B;
	font-weight: normal;
	margin-bottom: 3px;
	font-size: 1.1em;
}
pre {
	font-size: 1.2em;
	border-top: 1px solid #FEDEA5;
	border-bottom: 1px solid #FEDEA5;
}
code {
	font-size: 1.1em;
}
/* layout of version control concepts, these are usually span tags */
.path {
	color: #112200;
}
.revision {
	color: #006600;
	font-size-adjust: 0.4;
	font-family: Arial, Helvetica, sans-serif;
}
.username {
	color: #663300;
	padding-left: 16px;
	background: url(user.gif) left no-repeat;
}
.projectname {
	color: #663300;
}
.message {
	font-style: italic;
}
.datetime {
	color: #666666;
}
.error {
	color: #CC3300;
}
/* common page elements, may also be layouted for each tool */
#workspace {
}
#commandbar {
	background-color: #eeeeee;
	border-top: 5px solid #FDBC4B;
	border-bottom: 1px solid #dddddd;
	padding: 6px;
}
#contents {
	/* rows styled in repository.css and log.css */
}
.n0, .n2 {
	background-color: #F7F7F6;
}
.n1, .n3 {
	background-color: #F0F0EE;	
}
#footer {
	border-top: 1px solid #FDBC4B;
	bottom: 10px;
	height: 20px;
	color: #cccccc;
	font-size: smaller;
}
#footer a {
	color: #cccccc;
}
#footer .legal {
	position: absolute;
	right: 10px;
}
/* command = commandbar button, <a> is  active, <span> is greyed out */
.command {
	background-position: center left;
	background-repeat: no-repeat;
	margin: 0.2em;
	padding-left: 28px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}
a.command {
	color: #333333;
}
span.command {
	color: #BBBBBB;
}
/* action is for buttons inside listings, <a> is  active, <span> is greyed out */
.action {
	background-color: #F0F0EE;
	border-top: 1px solid #DDDDDD;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #DDDDDD;
	border-left: 1px solid #CCCCCC;
	font-size: 82.5%;
	margin: 0.2em;
	padding-left: 0.2em;
	padding-right: 0.2em;
}
a.action {
	color: #333333;
}
span.action {
	display: none;
}
/* common commands */
#commandbar #back {
	background-image: url('back.gif');
}
#commandbar #parent {
	background-image: url('parent.gif');
}
#commandbar #repository {
	background-image: url('repository.gif');
}
#commandbar #download {
	background-image: url('download.gif');
}
#commandbar #refresh {
	background-image: url('refresh.gif');
}
#commandbar #logout {
	background-image: url('logout.gif');
}
/* -------- forms ---------
<form>
<fieldset>
  <legend>template form</legend>
  <p>
    <label for="name">file name</label>
    <input id="name" type="text" name="name" />
  </p>
  <p>
    <label for="submit"></label>
    <input id="submit" type="submit" value="Submit" />
  </p>
</fieldset>
</form>

*/
fieldset {
	border:2px solid #aaaaaa;
	border-collapse:collapse;
	padding:2em;
}
legend {
	background-color:#aaaaaa;
	font-size:0.7em;
	padding-left: 1em;
	padding-right: 1em;
	color:#FFFFFF;
}
label {
	float:left;
	width:25%;
	margin-right:0.5em;
	padding-top:0.2em;
	text-align:right;
	font-weight:normal;
}
input
{
    color: black;
	margin: 0px;
	padding: 0px;
}
input.required {
	background: url(requiredfield.gif) top right no-repeat;	
}
textarea
{
    color: black;
	margin: 0px;
	padding: 0px;
}
select
{
    color: black;
	margin: 0px;
	padding: 0px;
}
/* visible version numbers, #releaseversion or #resourceversion */
.versiondisplay {
	font-size:9px;
	color:#cccccc;
}
div.versiondisplay {
	position:absolute;
	bottom:1px;
	right:1px;
}
