@charset "utf-8";
/* Layout for the file browser */
.actions {
	vertical-align: inherit;
	display: inline;
}
.contents {
	padding-bottom: 20px;
}
.contents .row {
	width: 100%;
	padding: 1px;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
}
.contents .row:hover {
	border-top: 1px dashed #CCCC99;
	border-bottom: 1px dashed #CCCC99;
}
.contents .row div.actions {
	position: absolute;
	left: 70%;
}
.footer {
	border-top: 1px solid #CCCC99;
	color: #999999;
	font-size: smaller;
}
.footer .path {
	position: absolute;
	left: 12px;
}
.footer .legal {
	position: absolute;
	right: 10px;
}
/* resource links */
a[href="../"], span#up {
	background-image: url('up.png');
	padding-left: 20px;
}
.file {
	background-image: url('file.png');
	background-position: left;
	background-repeat: no-repeat;
	padding-left: 30px;
	margin-left: 10px;
}
.folder {
	background-image: url('folder.png');
	background-position: left;
	background-repeat: no-repeat;
	padding-left: 30px;
	margin-left: 10px;
}
