.logentry > div {
	padding-left: 24px;
	background-position: left;
	background-repeat: no-repeat;
}
.message {
	background-image: url(16x16/message.png);
}
.log-A {
	background-image: url(16x16/a.png);
}
.log-M {
	background-image: url(16x16/m.png);
}
.log-D {
	background-image: url(16x16/d.png);
}
#return {
	background-image: url(../commands/16x16/parent.png);
}
