/* 
Customizations for SyntaxHighlighter style.
*/

.syntaxhighlighter .line .content {
	border-left-color: gray !important;
}

/* Language specific styles */

.dp-highlighter .comment, .dp-highlighter .comments { color: #008200; }
.dp-highlighter .string { color: blue; }
.dp-highlighter .keyword { color: #069; font-weight: bold; }
.dp-highlighter .preprocessor { color: gray; }

/* Repos added styles */
/* SyntaxHighlighter uses a lot of !important for no reason so we need to do that too,
   and we need to use .syntaxhighlighter before class to get higher specificity */

.syntax-diff-added { color: #009900; }
.syntax-diff-removed { color: #CC0000; }
.syntax-diff-nonewline { color: #CCCCCC; }
.syntax-diff-keyword { color: #999999; }

.syntaxhighlighter .syntax-acl-path { font-weight: bold !important; }
.syntaxhighlighter .syntax-acl-groups { font-weight: bold !important; color: #333366; }
.syntaxhighlighter .syntax-acl-group { color: #333366; }
.syntaxhighlighter .syntax-acl-keyword { text-decoration: underline !important; }
.syntaxhighlighter .syntax-acl-noaccess, .syntaxhighlighter .syntax-acl-readonly, .syntaxhighlighter .syntax-acl-readwrite {
	border-bottom: 2px solid !important;
	padding: 0px 2px 0px 2px !important;
	background-color: #F5F5F5 !important;
}
.syntaxhighlighter .syntax-acl-noaccess { border-color: #992211 !important; }
.syntaxhighlighter .syntax-acl-readonly { border-color: #CCCC00 !important; }
.syntaxhighlighter .syntax-acl-readwrite { border-color: #116622 !important; }
