<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Templates plugin unit tests</title>
<script type="text/javascript" src="../../repos-web/scripts/lib/jquery/jquery.js"></script>
<link rel="stylesheet" href="../../repos-web/scripts/unittest/qunit.css"/>
<script type="text/javascript" src="../../repos-web/scripts/unittest/qunit.js"></script>
<script type="text/javascript" src="templates.test.js"></script>
<script type="text/javascript" src="templates.load.js"></script>
</head>
<body>

<h1 id="qunit-header">Templates plugin unit tests</h1>
<h2 id="qunit-banner"></h2>
<h2 id="qunit-userAgent"></h2>
<ol id="qunit-tests"></ol>

</body>
</html>