@CHARSET "UTF-8";
/* CSS for Repos pages with forms or columns or both */
div#intro {
	margin: 5px;
	padding: 5px;
}

div.columns {
	display: table-row;
}
div.column {
	display: table-cell;
	vertical-align: top;
}
div.column-activities {
}
div.column-info {
}
div.column-links {
}

div.section {
	height: auto;
	margin: 5px;
	padding: 5px;
	background-color: #FFFFFF;
	border: 2px solid #F4F4F4;
	display: block;	
}

div.section ul {
	padding-right: 1em;
}

div.section h2 {
	margin: 0px;
	padding-left: 1em;
	background-color: #E9F4C9;
	background-image: url(headlinebg.png);
	background-position: bottom;
	background-repeat: repeat-x;
	color: #666633;
}

#activities div {
	margin-bottom: 2em;
}

#activities .recommendation {
	display: none; /* needs rework for 1.4 */
}

div p {
	color: #333333;
}

.section div {
	clear: both;
}

#filedetails lh {
	color: #666633;
}

dd.aboutitem-rev, dd.aboutitem-lock.datetime, dd.aboutitem-lock.username {
	display: inline;
}
dd.aboutitem-rev + dd.aboutitem-rev, dd.aboutitem-lock.username {
	margin-left: .5em;
}
dd.aboutitem-lock.datetime {
	background: url(lock.png) left no-repeat;
	padding-left: 2em;
}
dt.aboutitem-lockcomment {
	display: none;
}

/* Repos Login status hidden by default and displayed by login plugin */
#loginstatus {
	display: none;
}

/* log in page section */

#editlog ul {
	list-style: none;
	padding-left: 1em;
}

#editlog span, #editlog li > a {
	margin: .3em .5em .3em 0;
}

#editlog .message {
	display: block;
	margin-left: 2em;
	margin-bottom: 1.2em;
}

/* thumbnail plugin, see THUMB_SIZE in open/thumb/ */
#intro img.thumbnail {
	display: inline;
	float: left;
	margin-right: 1em;
}

/* input box in footer with the full url */
#footer #urlcopy {
	width: 98%;
	text-align: center;
	border: 0px;
	margin: 0px;
	color: #808080;
	background: none;
}
#footer > #urlcopy {
	font-size: 95%;
}
/* common activities, same id as commands */
div#activities p {
	padding-left: 40px;
	margin-top: .3em;
	margin-bottom: 1.5em;
}
#activities h3 a {
	padding: 10px 0px 10px 40px;
	background-position: left;
	background-repeat: no-repeat;
	white-space: nowrap;
}
#activities #open {
	background-image: url(commands/32x32/open.png);
}
#activities #download {
	background-image: url(commands/32x32/download.png);
}
#activities #download_upload {
	background-image: url(commands/32x32/download_upload.png);
}
#activities #download_lock {
	background-image: url(commands/32x32/download_lock.png);
}
#activities #editfile {
	background-image: url(commands/32x32/edit.png);
}
#activities #upload {
	background-image: url(commands/32x32/upload.png);
}
#activities #lock {
	background-image: url(commands/32x32/lock.png);
}
#activities #unlock {
	background-image: url(commands/32x32/unlock.png);
}
#activities #useurl {
	background-image: url(commands/32x32/url.png);
}
#activities #latest {
	background-image: url(commands/32x32/latest.png);
}
#activities #history {
	background-image: url(commands/32x32/history.png);
}
#activities #viewfile {
	background-image: url(commands/32x32/view.png);
}
#activities #propedit {
	background-image: url(commands/32x32/propedit.png);
}
#activities #copy, #activities #copyhistorical {
	background-image: url(commands/32x32/copy.png);
}
#activities #delete {
	background-image: url(commands/32x32/delete.png);
}
/* -------- forms ---------
<form>
<fieldset>
  <legend>template form</legend>
  <p>
    <label for="name">file name</label>
    <input id="name" type="text" name="name" />
  </p>
  <p>
    <label for="submit"></label>
    <input id="submit" type="submit" name="submit" value="Send" />
  </p>
</fieldset>
</form>
*/
fieldset {
	border: 2px solid #E9F4C9;
	border-collapse:collapse;
	margin: 0 1em 1em 1em;
	padding: 1em;
}
fieldset p {
	clear: left;
}
fieldset input {
	margin-top: 0.5em;
}
fieldset legend {
	color: #666633;
	font-size: 1.1em;
	letter-spacing: 0.1em;
	padding: 0 1em 0 1em;
}
fieldset label {
	float:left;
	width:12em;
	margin-right:0.5em;
	padding-top:0.5em;
	text-align:right;
	font-weight:normal;
}
fieldset input.required {
	background: url(required.png) top right no-repeat;	
}
fieldset span.note, fieldset span.warning, fieldset span.error {
	display: block;
	margin-left: 12.6em;
	width: auto;
}
