
/* toolbar and tree layout, to get height=100% without frames */
html, body { height:100%; }
/* height:100%; only renders correctly in mozilla */
table.mainLayout { width:100%; border:0px; vertical-align:top; }
/* Logo - toolbar - tool name ... */
td.topToolbar { height:30px; background-color:#555555; color:#FFFFFF; vertical-align:middle; font-family:'verdana','helvetica',sans-serif; font-size:16px; }
td.topCommandbar { height:17px; vertical-align:top; }
td.topUsername { height:17px; background-color:#555555; color:#FFFFFF; text-align:center; }
/* Tree cell */
td.navigationTree { width:180px; height:auto; } /* using min height instead of table height=100% and  height:auto; } */
/* navigation tree internal table */
td.treeHeader { height:2px; width:180px; }
td.treeIcon { height:16px; width:18px; vertical-align:top; margin-bottom:1px; margin-top:1px; }
td.treeSpace { height:16px; width:18px; vertical-align:top; margin-bottom:1px; margin-top:1px; background:background-image; background-image:url(../images/tree/dashbg.gif); }
td.treeText { vertical-align:baseline; text-decoration:none; }
tr.treeSelected { background-color:#555555; color:#FFFFFF; }

/* activity */
div.activityBorderActive {border: 2px solid #555555; }
div.activityBorderInActive {border: 2px solid #999999; }
div.activityBorderOverdue {border: 2px solid #D83838; }
div.activityBorderUnAcc {border: 2px solid #FE923A; }
div.activityStatusbar {background-color:#999999; }
div.activityDashLine {border-top: 1px dashed #999999; }
div.activityNow {background-color: #555555; }

td.activityStatusbar {border: 1px solid #FFFFFF; background-color:#999999}
td.activityStatusbarEmpty {border: 1px solid #FFFFFF}
td.activityBarTD {background-color:#555555; color:#FFFFFF;}

/* old layout starts here */

body.navigationTree {background-color:#999999; scrollbar-base-color:#999999; scrollbar-arrow-color:#FFFFFF}

table {empty-cells:show}

td.right {text-align:right}

span.listDateOverdue {color:#D83838; font-weight:bold}

span.dateOverdue {color:#D83838; font-weight:bold}

span.popupNewsCreated {font-weight:bold}

span.popupNewsCreator {font-style:italic}

span.popupDiscCreated {font-weight:bold}

span.popupDiscCreator {font-style:italic}

span.priorityHigh {color:#D83838; font-weight:bold}

span.priorityMedium {}

span.priorityLow {}

span.todoCreation {font-style:italic}

span.popupTodoName {font-weight:bold}

span.fieldHeading {font-weight:bold}

span.inputHeading {font-weight:bold}



td.fieldHeading {text-align:right; vertical-align:top}

td.top {background-color:#555555; color:#FFFFFF; font-weight:bold; padding-left:5px; line-height:16px; vertical-align:middle}

td.headingtl {background-color:#555555; color:#FFFFFF; font-weight:bold; border-top: 2px solid #FFFFFF; border-left: 2px solid #FFFFFF; padding-left:3px; white-space:nowrap}

td.headingtlr {background-color:#555555; color:#FFFFFF; font-weight:bold; border-top: 2px solid #FFFFFF; border-left: 2px solid #FFFFFF; border-right: 2px solid #FFFFFF; padding-left:3px; white-space:nowrap}

td.main {border-left: 2px solid #555555; border-bottom: 2px solid #555555; border-right: 2px solid #555555}

td.mainMiddle {border-left: 2px solid #555555; border-right: 2px solid #555555}

td.mainBottom {border-left: 2px solid #555555; border-bottom: 2px solid #555555; border-right: 2px solid #555555}

td.formHeading {padding-top:4px; padding-left:5px; padding-bottom:5px; vertical-align:top; text-align:right; font-weight: bold;}

td.formValue {padding-top:4px; padding-left:5px; padding-bottom:5px; vertical-align:top; text-align:left;}




td.listDate {padding-top:2px; padding-left:5px; padding-bottom:3px; vertical-align:top; white-space:nowrap;}

td.listMarker {text-align:center; padding-top:3px; vertical-align:top}

td.listButton {padding-top:1px; padding-bottom:1px; padding-left:4px; vertical-align:top; white-space:nowrap; text-align:center;}

td.listToDoStatus {padding-left:4px; vertical-align:top; padding-top:2px; padding-bottom:2px;}

td.miniIcons {padding-top:2px; padding-right:1px; text-align:right;}





td.popupText {padding-left:20px; padding-right:20px}



td.button {border-left: 2px solid #FFFFFF; border-bottom: 2px solid #FFFFFF; border-top: 2px solid #FFFFFF}



td.calendarCellTL { background-color:#EEEEEE; color:#000000; font-weight:bold; border-top: 2px solid #FFFFFF; border-left: 2px solid #FFFFFF;}

/* minimonth week column (left) */
td.calendarCellTLR { background-color:#EEEEEE; color:#000000; font-weight:bold; border-top: 2px solid #FFFFFF; border-left: 2px solid #FFFFFF; border-right: 2px solid #FFFFFF;}
/* minimonth day cells */
td.calendarCellTRtoday { background-color:#CCCCFF; color:#000000; border-top: 2px solid #FFFFFF; border-right: 2px solid #FFFFFF;}
td.calendarCellTR { background-color:#E5E5E5; color:#000000; border-top: 2px solid #FFFFFF; border-right: 2px solid #FFFFFF;}
a.calendarDayWithContents {font-weight:bold; text-decoration:none;}
a.calendarDay {text-decoration:none;}

td.calendarTimeCellTL {background-color:#555555; color:#FFFFFF; font-weight:bold; border-top: 2px solid #FFFFFF; border-left: 2px solid #FFFFFF; padding-left:3px;}

td.calendarWeekCellTLR {background-color:#ffffff; color:#000000; font-weight:bold; border-top: 2px solid #FFFFFF; border-left: 2px solid #FFFFFF; padding-left:3px; border-right: 2px solid #FFFFFF;}



select {font-family: verdana,helvetica,arial,sans-serif; font-size: 10px;}

select.heading {background-color: #555555; color: #FFFFFF; font-weight: bold; border-style: none; margin: 0px; border: 0px; padding: 0px;}

select.fileArchive {border-style: none; margin: 0px; border: 0px; padding: 0px; width:140px}



/*.Form {font-family:'verdana','helvetica','arial'; font-size:10px; width:350px;}*/

input {font-family:'verdana','helvetica','arial'; font-size:10px;}

input.buttonReceiverSelect {font-weight:bold; margin-left:10px; margin-right:10px}

input.date {width:73px}

input.time {width:39px}

textarea {font-family:'verdana','helvetica','arial'; font-size:10px;}

input.listMarker {height:12px}






a.attachment {color:#D83838;}

a.button {text-decoration:none; color:#FFFFFF; font-weight:bold}

a.top {text-decoration:none; color:#FFFFFF; font-weight:bold}

a.top:hover {text-decoration:underline;}


p.normal {font-weight:normal; line-height:16px; vertical-align:top;}

p.big {font-size: 24px;}

img.todoActive {border: 2px solid #555555;}

img.todoInActive {border: 2px solid #999999;}

img.todoOverdue {border: 2px solid #D83838;}

img.todoUnAcc {border: 2px solid #FE923A;}







/* new changes start here */
/* common */
body {
	scrollbar-base-color:#555555; 
	scrollbar-arrow-color:#EEEEEE;
	margin:0px;
	padding:0px;
}
body.workspace {
	overflow:hidden;
}


body,span,td,div,a {
	color:#000000; 
	font-family:'verdana','geneva','helvetica','arial','sans-serif'; 
	font-size:10px;
}
.italic {
	font-style:italic;
}
.nobr {
	white-space:nowrap;
}
.block {
	display:block;
}
.overdue {
	color:#D83838;
}
span.highprio {
	font-weight:bold;
	color:#D83838;
}
span.actionButton {
	font-weight:bold;
	color:#FFFFFF;
	white-space:nowrap;
}
.unread {
	font-weight:bold;
}
.bold {
	font-weight:bold;
}
.white {
	color:#FFFFFF;
}
.grayed {
	color:#999999;
}

#workspace {
	visibility:visible;
}
div.commandbar {
	position:absolute; 
	left:0%; 
	top:0%; 
	width:100%; 
	height:30px; 
	z-index:100;
}
div.windowhead {
	width:100%;
	background-color:#555555;
	padding-left:5px; 
	line-height:16px; 
	vertical-align:middle;
}
td.windowhead {
	background-color:#555555; 
	padding-left:5px; 
	line-height:16px; 
	vertical-align:middle;
}
div.windowcontent {
	border-left:2px solid #555555; 
	border-bottom:2px solid #555555; 
	border-right:2px solid #555555;
	scrollbar-base-color:#555555; 
	scrollbar-arrow-color:#EEEEEE;
	overflow:auto;
}
div.windowcontent.top {
	border-bottom:none; 
}
div.windowcontent.bottom {
	overflow:hidden;
	width:100%;
	height:22px;
}

div.actionButton { /* text buttons */
	border-left:2px solid #FFFFFF; 
	border-top:2px solid #FFFFFF; 
	border-bottom:2px solid #FFFFFF;
	overflow:visible;
	height:15px;
	cursor:pointer;
}
td.actionButton.left {
	width:10px;
	height:15px;
	background-image:url('../images/actionbutton_left.gif');
	background-repeat:no-repeat;	
}
td.actionButton.middle {
	height:15px;
	background-image:url('../images/actionbutton_middle.gif');
	background-repeat:repeat-x;
	text-align:center;
}
td.actionButton.right {
	width:10px;
	height:15px;
	background-image:url('../images/actionbutton_right.gif');
	background-repeat:no-repeat;	
}
td.commandbarGlobals { /* group of round buttons to the right */
	width:100%;
}
td.commandbarGlobal {
	border-top:2px solid #FFFFFF;
	border-right:2px solid #FFFFFF;
	border-bottom:2px solid #FFFFFF;
}


/* single item in window */
div.item {
	padding-left:20px; 
	padding-right:20px; 
	padding-top:20px;
	padding-bottom:0px;
}
div.item.main {
	padding-top:15px;
	padding-left:15px; 
	padding-right:15px; 
	padding-bottom:15px;
}
div.textarea {
	scrollbar-base-color:#555555; 
	scrollbar-arrow-color:#EEEEEE;
	width:150px;
	height:200px;
	overflow:auto;
	border:1px solid #555555;
}


div.buttons {
	position:absolute;
	right:0px;
	bottom:0px;
	border-right: 2px solid #FFFFFF;
}
div.buttonLong {
	width:135px; 
	height:15px; 
	background-image:url('../images/button_long.gif'); 
	clip:rect(0px 135px 15px 0px); 
	text-align:center; 
	line-height:14px; 
	vertical-align:middle;
	margin-left:2px;
	margin-top:2px;
	margin-bottom:2px;
}
div.buttonMed {
	width:110px; 
	height:15px; 
	background-image:url('../images/button_med.gif'); 
	clip:rect(0px 110px 15px 0px); 
	text-align:center; 
	line-height:14px; 
	vertical-align:middle;
	margin-left:2px;
	margin-top:2px;
	margin-bottom:2px;
}
div.buttonShort {
	width:85px; 
	height:15px; 
	background-image:url('../images/button_short.gif'); 
	clip:rect(0px 85px 15px 0px); 
	text-align:center; 
	line-height:14px; 
	vertical-align:middle;
	margin-left:2px;
	margin-top:2px;
	margin-bottom:2px;
}


/* LIST HEADING CELLS */
td.listhead {
	background-color:#555555; 
	border-top: 2px solid #FFFFFF; 
	border-left: 2px solid #FFFFFF; 
	padding-left:3px; 
	padding-right:5px; 
	white-space:nowrap;
}
td.listhead.end {
	border-right: 2px solid #FFFFFF; 
}


/* LIST CELLS */
td.list {
	padding-top:3px; 
	padding-left:5px; 
	padding-right:5px; 
	padding-bottom:3px; 
	vertical-align:top;
}
td.list.end {
	padding-right:10px; 
}
td.list.button {
	padding-top:0px; 
	padding-bottom:1px; 
	padding-left:2px; 
	padding-right:2px; 
	white-space:nowrap; 
	text-align:center;
}
td.list.marker {
	padding-left:0px; 
	padding-right:0px; 
	text-align:center; 
}
td.list.expander {
	padding:0px; 
	padding-top:2px; 
	text-align:center; 
}


/* FILELIST CELLS */
td.filelist {
	padding-top:4px; 
	padding-left:5px; 
	padding-right:5px; 
	padding-bottom:0px; 
	vertical-align:top;
}
td.filelist.marker {
	text-align:center; 
}
td.filelist.button {
	padding-top:1px; 
	padding-left:3px; 
	white-space:nowrap; 
	text-align:center;
}
td.filelist.select {
	padding-top:1px; 
	padding-left:2px; 
}
td.filelist.end {
	padding-right:5px; 
}


td.dashline {
	background-image: url('../images/line_dash.gif'); 
	padding:0px; 
	border-left: 2px solid #FFFFFF; 
	border-right: 2px solid #FFFFFF;
}
td.table.heading {
	padding-right:5px;
	text-align:right;
}

span.window.head {
	font-size:10px;
	color:#FFFFFF; 
	font-weight:bold; 
}
span.listhead {
	font-size:10px;
	color:#FFFFFF; 
	font-weight:bold; 
}
span.table.heading {
	font-weight:bold;	
}


a {
	text-decoration:underline; 
}
a.window.head {
	font-size:10px;
	color:#FFFFFF; 
	font-weight:bold;
	text-decoration:none; 
}
a.window.head:hover {
	text-decoration:underline; 
}
a.listhead {
	font-size:10px;
	color:#FFFFFF; 
	font-weight:bold;
	text-decoration:none; 
}
a.listhead:hover {
	text-decoration:underline; 
}


textarea {
	overflow:auto;
}
select.form.multiple {
	scrollbar-base-color:#555555; 
	scrollbar-arrow-color:#EEEEEE;
	width:200px;
	height:100px;
}
.form {
	border-width:2px;
}
.form.disabled {
	background-color:#EEEEEE;
	color:#999999;
}
input.form.search {
	width:200px;
}
input.form.date {
	width:72px;
}
input.form.time {
	width:39px;
}
input.form.datetime {
	width:110px;
}
.form.dynamic {
	width:99%;
}
span.form.heading {
	border:none;
	background-color:transparent;
	font-weight:bold;	
}
input.button {
	border-width:1px;
	background-image:url('../images/bg_button.gif');
	background-repeat:repeat-x;
	color:#ffffff;
	font-weight:bold;
}
input.button.tofrom {
	width:75px;
	margin-left:10px;
	margin-right:10px;
	margin-bottom:5px;
}
select.commandbar {
	background-color:#555555;
	color:#ffffff;
	font-weight:bold;
}
select.windowhead {
	background-color:#555555; 
	color:#FFFFFF; 
	font-weight:bold; 
	border:none; 
	margin:0px; 
	padding:0px;
	height:15px;
}
/* end common */


/* calendar */
div.hourhead { /* hour in calendar's timemanager */
	position:absolute;
	background-color:#555555; 
	border-top: 2px solid #FFFFFF; 
	border-left: 2px solid #FFFFFF; 
	padding:3px; 
	white-space:nowrap;
	vertical-align:top;
	width:50px;
	height:40px;
	text-align:center;
}
div.hourhead.last {
	border-bottom: 2px solid #FFFFFF;
}
div.weekdayhead { /* weekday in calendar's timemanager */
	position:absolute;
	background-color:#555555; 
	border-top: 2px solid #FFFFFF; 
	border-left: 2px solid #FFFFFF; 
	white-space:nowrap;
	vertical-align:middle;
	width:50px;
	height:15px;
	text-align:center;
}
div.weekdayhead.end {
	border-right: 2px solid #FFFFFF; 
}
div.event { /* Event in calendars timemanager */
	position:absolute;
	background-color:#cccccc;
	border:1px solid #000000;
	filter:progid:DXImageTransform.Microsoft.Shadow(direction=120,color=#000000,strength=2) progid:DXImageTransform.Microsoft.Alpha(style=0,opacity=50);
	-moz-opacity:0.5;
	cursor:pointer;
	overflow:hidden;
}
div.hour { /* hour in calendar's timemanager */
	position:absolute;
	background-color:#eeeeee; 
	border-top: 2px solid #FFFFFF; 
	border-left: 2px solid #FFFFFF; 
	width:15%;
	height:40px;
}
div.hour.end {
	border-right: 2px solid #FFFFFF; 
}
span.hourhead {
	font-family:arial,helvetica,sans-serif;
	font-size:16px;
	color:#FFFFFF; 
	font-weight:bold; 
}
a.minimonth.day {
	text-decoration:none;
}
a.minimonth.day.hasevent {
	font-weight:bold;
}
td.minimonth {
	padding-top:2px;
	padding-bottom:2px;
	padding-left:3px;
	padding-right:3px;
}
td.minimonth.weekday {
	text-align:center;
	padding-bottom:5px;
	padding-top:7px;
}
td.minimonth.week {
	text-align:right;
	padding-right:8px;
}
td.minimonth.day {
	text-align:center;
	background-color:#eeeeee;
	border:1px solid #ffffff;
	padding-top:1px;
	padding-bottom:1px;
	padding-left:2px;
	padding-right:2px;
}
td.minimonth.day.today {
	background-color:#eeeeee;
	border:1px solid #D83838;
}
/* end calendar /*



/* news */
div.message {
	padding-left:20px; 
	padding-right:20px; 
	padding-top:20px;
	padding-bottom:0px;
}
div.message.body {
	padding-left:10px; 
	padding-right:10px; 
	padding-top:20px;
	padding-bottom:0px;
}
span.message.created {
	font-weight:bold;
	display:block; 
}
span.message.creator {
	font-style:italic; 
	display:block;
}
span.message.attachment {
	margin-top:6px;
	color:#000066;
	display:block;
}
/* end news */



/* activities */
div.status {
	border:2px solid #555555;
}
div.status.inactive {
	border:2px solid #999999;
}
div.status.overdue {
	border:2px solid #D83838;
}
div.statusbar {
	background-color:#999999;
}
div.gantt.today {
	position:absolute;
	top:2px;
	width:2px;
	background-color:#555555;
	z-index:100;
}
td.gantt.projectspan {
	background-color:#555555; 
	border:2px solid #FFFFFF; 
	padding:1px;
	padding-left:2px;
	padding-right:2px;
}
img.status {
	border:2px solid #555555;
}
img.status.inactive {
	border:2px solid #999999;
}
img.status.overdue {
	border:2px solid #D83838;
}
/* end activities */










