body {
    font-family: Verdana, Geneva, Arial, helvetica, sans-serif;
    font-size: 0.8em;
    /* background-color: #CCCCCC; */
}
td {
	font-family: Verdana, Geneva, Arial, helvetica, sans-serif;
	font-size: 0.8em;
}
th {
	font-family: Verdana, Geneva, Arial, helvetica, sans-serif;
	font-size: 0.8em;
}
code {
	font-size: 1.1em;
}
a {
	color: #000066;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
h1 {
	font-weight: normal;
}
h2 {
	font-weight: normal;
}
h2 {
	font-weight: normal;
}
/* page layout themes */
table.framed {
	border: 2px solid #CCCC99;
	border-collapse: collapse;
}
table.framed th {
	border: 2px solid #CCCC99;
	font-weight: normal;
	letter-spacing: 0.2em;
	padding: 16px;
}
table.framed td {
	border: 2px solid #CCCC99;
	padding: 16px;
}
/* tools and file listings */
img { 
	behavior: url("http://www.optime.se/repos/css/pngbehavior.htc");
}
a.filename {
	margin-right: 10px;
}
a.command {
	background-color: #F0F0EE;
	padding: 0px 3px;
	font-size: smaller;
	border-top: 1px solid #DDDDDD;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #DDDDDD;
	border-left: 1px solid #CCCCCC;
	margin-left: 2px;
	margin-right: 2px;
	margin-top: 0px;
	margin-bottom: 0px;
}
span.command {
	background-color: #F0F0EE;
	color: #BBBBBB;
	padding: 0px 3px;
	font-size: smaller;
	border-top: 1px solid #DDDDDD;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #DDDDDD;
	border-left: 1px solid #CCCCCC;
	margin-left: 2px;
	margin-right: 2px;
}
a.action {
	background-color: #F0F0EE;
	padding: 0px 3px;
	font-size: smaller;
	border-top: 1px solid #DDDDDD;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #DDDDDD;
	border-left: 1px solid #CCCCCC;
	margin-left: 2px;
	margin-right: 2px;
	margin-top: 0px;
	margin-bottom: 0px;
}
span.action {
	background-color: #F0F0EE;
	color: #BBBBBB;
	padding: 0px 3px;
	font-size: smaller;
	border-top: 1px solid #DDDDDD;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #DDDDDD;
	border-left: 1px solid #CCCCCC;
	margin-left: 2px;
	margin-right: 2px;
}
.svnlayout {
	position: absolute;
	left: 1%;
	top: 0px;
	width: 98%;
	border-collapse: collapse;
	border-right-width:1px;
	border-left-width:1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #CCCCCC;
	border-left-color: #CCCCCC;
}
.svnlayout td {
	padding-left: 10px;
	padding-right: 10px;
}
.titlebar {
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom-width: 1px;
	border-bottom-color: #CCCCCC;
	border-bottom-style: none;
	background-color: #FFFFCC;
}
.commandbar {
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: #F0F0EE;
	border-top-width: 1px;
	border-bottom-width:1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
}
.workarea {
	padding-top: 10px;
	padding-bottom: 10px;
}
.workarea p {
	padding: 0px;
	margin: 0px;
}
.footer {
	font-size: smaller;
	padding-top: 3px;
	padding-bottom: 3px;
	border-top-width: 1px;
	border-bottom-width:1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	clear: both;
	background-color: #FFFFCC;
}
