@charset "utf-8";
/* Layout for the file browser */
.actions {
	vertical-align: inherit;
	display: inline;
}
.contents {
	padding-bottom: 20px;
}
/* commands */
.commandbar #showlog {
	background-image: url('showlog.gif');
}
.commandbar #upload {
	background-image: url('upload.gif');
}
.commandbar #createfolder {
	background-image: url('createfolder.gif');
}
/* directory listing */
.contents .row {
	width: 100%;
	padding: 1px;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
}
.contents .row:hover {
	border-top: 1px dashed #CCCC99;
	border-bottom: 1px dashed #CCCC99;
}
.contents .row div.actions {
	display: inline;
	position: absolute;
	left: 70%;
}
.file {
	background-image: url('file.gif');
	background-position: left;
	background-repeat: no-repeat;
	padding-left: 30px;
	margin-left: 10px;
}
.folder {
	background-image: url('folder.gif');
	background-position: left;
	background-repeat: no-repeat;
	padding-left: 30px;
	margin-left: 10px;
}
/* filetype icons */
.file-pdf { background-image: url('filetypes/pdf.gif');}
